/* 页脚背景颜色 */
/* #footer {
  background-color: #E4DEBE
} */

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 页脚字体大小和颜色 */
#footer-wrap {
  color: #eff6f5; 
  font-size: 18px
}

/* 翻页按钮居中（修复文章双侧栏显示插件bug） */
#pagination {
  width: 100%;
  margin: auto;
}